* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: lightblue;
}

.navbar {
  display: flex;
  gap: 3rem;
  height: 3rem;
  align-items: center;
  padding: 0rem 1rem 0rem 1rem;
  background-color: rgba(0, 0, 255, 0.413);
}

.navbar__link {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 500;
}

.navbar__link:hover {
  color: rgb(255, 255, 255);
}

.shoes {
  background-color: lightgreen;
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  justify-content: center;
  min-width: 300px;
  max-width: 500px;
  transform: translateX(-50%);
  margin-left: 50%;
  padding: 3rem;
  
}
.shoe {
  
  text-decoration: none;
  font-size: 1.3rem;
  color: blue;
  border:  1px solid black;
}

.shoeDetails {
  transform: translateX(-50%);
  margin-left: 50%;
}

.shoeDetails__content {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 1rem;
}

.shoeDetails__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
img{
  width: 30%;
  height: 40%;
}